.one {
  --colBground: rgb(156, 150, 156);
  --colBorder: rgb(232, 232, 232);
  --colPurple:rgb(156, 155, 156);
  --otherBUttonBg:rgb(178, 174, 178);
}
.two {
  --colBground: rgb(156, 150, 156);
  --colBorder: rgb(232, 232, 232);
  --colPurple:rgb(156, 155, 156);
  --otherBUttonBg:rgb(178, 174, 178);
}
.three {
  --colBground: rgb(156, 150, 156);
  --colBorder: rgb(232, 232, 232);
  --colPurple:rgb(156, 155, 156);
  --otherBUttonBg:rgb(178, 174, 178);
}
.four {
  --colBground: rgb(156, 150, 156);
  --colBorder: rgb(232, 232, 232);
  --colPurple:rgb(156, 155, 156);
  --otherBUttonBg:rgb(178, 174, 178);
}
.five {
  --colBground: rgb(156, 150, 156);
  --colBorder: rgb(232, 232, 232);
  --colPurple:rgb(156, 155, 156);
  --otherBUttonBg:rgb(178, 174, 178);
}







body {
  padding: 0;
  margin: 0;
}
h1 {
  color: rgb(15, 4, 15);
  margin-left: 10px;
}

.outer-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.option-div {
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: var(--colBground);
  border: var(--colBorder);
  border-width: 2px;
  border-style: solid;
  width: 25%;
  padding: 10px;
}



input {
  width: 60%;
}
hr {
  height: 1px;
  border: none;
  background:var(--colPurple);
  width: 98%;
}

.btn {
  background: var(--colPurple);
  border-radius: 4px;
  padding: 4px;
  color: white;
  border:var(--colBorder);
  border-width: 2px;
  border-style: solid;
  margin-left: 3%;
}
.btn:hover {
  background:  var(--otherBUttonBg);
}
.content-div {
  background-color: var(--otherBUttonBg);
  padding: 10px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
